*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

/* header */

header{
    background-color: #0084FD;
}

/* nav */

nav{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.nav-logo img{
    width: 80%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

nav .nav-menu{
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav .nav-menu .nav-btn{
    color: black;
    background-color: white;
    padding-inline: .5rem;
    border-radius: 20px;
}

/* main */

/* section functions */

.functions{
    margin-top: 2.5rem;
}

.container-function{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    gap: 1rem;
}

.container-function .card, .card-demo{
    background-color: #B5DDFF;
}

.container-function .card{
    flex-basis: calc(100% / 3 - 2rem)
}

.container-function .card-demo{
    flex-basis: 61.4%; /*da sistemare la larghezza*/
}

/* section strategic planning */

.container-strategic{
    width: 70%;
    margin: auto;
    display: flex;
    height: 400px;
    gap: 1rem;
    padding: 5rem;

}

.strategic-planning{
    background-color: #9792E4;
}

.container-strategic .strategic-img img{
    width: 50%;
}

.container-strategic .app-developement img{
    width: 50%;
}
