*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

h3{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* header */

header{
    background-color: #0084FD;
}

/* nav */

nav{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.nav-logo img{
    width: 80%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

nav .nav-menu{
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav .nav-menu .nav-btn{
    color: black;
    background-color: white;
    padding-inline: .5rem;
    border-radius: 20px;
}

/* main */

/* section functions */

.functions{
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.container-function{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    gap: 1rem;
}

.container-function .card, .card-demo{
    background-color: #B5DDFF;
}

.container-function .card{
    flex-basis: calc(100% / 3 - 2rem)
}

.container-function .card-demo{
    flex-basis: 61.4%; /*da sistemare la larghezza*/
}

/* section strategic planning */

.container-strategic{
    width: 70%;
    margin: auto;
    display: flex;
    gap: 1.5rem;
    padding: 5rem;
}

.strategic-planning{
    background-color: #9792E4;
}

.container-strategic .strategic-img{
    text-align: left;
    color: white;
    flex-basis: 50%;
}

.container-strategic .strategic-img img{
    width: 100%;
    padding-bottom: 3rem;
}

.container-strategic .app-developement{
    background-color: white;
    height: max-content;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 30px;
    margin-top: 9rem;
    flex-basis: 50%;
}

.container-strategic .app-developement img{
    width: 100%;
}

.fa-arrow-down{
    color: black;
    background-color: #9792E4;
    border-radius: 50%;
    margin-top: 2rem;
    padding: 1rem;

}

.container-strategic .strategic-img .strategic-title{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* section partners */

.container-partners{
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container-partners .nat-reynold{
    display: flex;
    background-color: #9792E4;
}

.nat-reynold .reynold-img{
    flex-basis: 40%;
    padding-right: 2rem;
}

.nat-reynold .reynold-img img{
    width: 100%
}

.nat-reynold .reynold-text .partner-description{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* section benefits */

.benefits{
    background-color: #9792E4;
}

.container-benefits{
    width: 70%;
    margin: auto;
    padding-bottom: 3rem;
}

.container-benefits .benefit-title{
    color: white;
    text-align: center;
    padding-top: 2rem;
}

.points{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
    justify-content: space-between;
}

.points .point{
    flex-basis: calc(100% / 3 - 1rem);
    height: 200px;
    background-color: red;
}

/* section about-us */

.about-us{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.about-us .about-text{
    flex-basis: 70%;
    padding-right: 1rem;
}

.about-us .about-profile{
    flex-basis: 30%;
}

.about-us .about-profile img{
    width: 30%;
}

/* section try */

.try{
    background-color: #9792E4;
}

.container-try{
    width: 30%;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
}

/* footer */

footer{
    background-color: #333333;
    color: white;
}

footer .footer-text{
    width: 30%;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
}