* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* general */

h3 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

h4 {
    padding-bottom: 1rem;
}

@media screen and (max-width:480px) {
    h4{
        text-align: center;
        margin-bottom: .5rem;
    }
    
}

/* header */

header {
    max-width: 1300px;
    background-color: #0084FD;
}

/* nav */

nav {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

@media screen and (max-width: 850px){
    nav{
        width: 100%;
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 480px){
    nav{
        width: 100%;
    }
}

.nav-logo img {
    width: 80%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

nav .nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-right: 3.7rem;
}

nav .nav-menu .nav-btn {
    color: black;
    background-color: white;
    padding-inline: .5rem;
    border-radius: 20px;
    text-align: center;
}

@media screen and (max-width: 850px){

    .menu-li, .nav-btn{
        display: none;
    }
}

.nav-bar {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    padding-right: 4rem;
    display: none;
}

@media screen and (max-width: 850px){

    .dropdown-menu{
        display: block;
        color: white;
    }
}

/* main */

/* section functions */

.functions {
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.container-function {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media screen and (max-width: 850px) {
    .container-function{
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 480px){
    .container-function{
        flex-direction: column;
        padding-inline: 1rem;
    }
}

.container-function .card, .card-demo {
    background-color: #B5DDFF;
    border-radius: 10px;
}

.container-function .card {
    flex-basis: calc(100% / 3 - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
}

.card .fa-solid {
    font-size: 3rem;
    color: #0084FD;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.card .title-card {
    color: #0084FD;
}

.card .paragraph-card {
    font-size: .8rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
}

.container-function .card-demo {
    flex-basis: 61.4%; /*da sistemare la larghezza*/   
    display: flex;
}

.card-demo .demo-text {
    flex-basis: 70%;
    padding: 1rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
}

.card-demo .demo-text .title-demo {
    color: #0084FD;
}

.card-demo .demo-text .lorem-demo {
    margin-bottom: 3rem;
}

.card-demo .demo-text .apple-store {
    color: white;
    background-color: #0084FD;
    padding: .5rem;
    border-radius: 50px;
}

.card-demo .demo-img {
    flex-basis: 30%;
    position: relative;
}

.card-demo .demo-img img {
    width: 80%;
    position: absolute;
    right: 1;
    bottom: 0;
    
}

/* section strategic planning */

.container-strategic {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 1.5rem;
    padding: 5rem;
}

@media screen and (max-width: 850px){
    .container-strategic{
        flex-direction: column;
        width: 100%;
    }
}

.strategic-planning {
    background-color: #9792E4;
}

.container-strategic .strategic-img {
    text-align: left;
    color: white;
    flex-basis: 50%;
    line-height: 1.5rem;
}

.container-strategic .strategic-img img {
    width: 100%;
    padding-bottom: 3rem;
}

.container-strategic .app-developement {
    background-color: white;
    height: max-content;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 30px;
    margin-top: 9rem;
    flex-basis: 50%;
    line-height: 1.5rem;
}

.container-strategic .app-developement img {
    width: 100%;
}

.fa-arrow-down {
    color: black;
    background-color: #9792E4;
    border-radius: 40px;
    margin-top: 2rem;
    padding: 1rem;

}

.container-strategic .strategic-img .strategic-title {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* section partners */

.container-partners {
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 8450px){
    .container-partners{
        width: 90%;
    }
}

.container-partners .title-partners {
    color: #9792E4;
}

.container-partners > p {
    text-align: center;
}

.container-partners .partner-card {
    display: flex;
    color: white;
    background-color: #9792E4;
    border-radius: 20px;
}

@media screen and (max-width: 480px){
    .container-partners .partner-card{
        flex-direction: column;
        align-items: center;
    }
}

.partner-card .partner-img {
    flex-basis: 40%;
    padding-right: 2rem;
}

@media screen and (max-width: 480px){
    .partner-card .partner-img{
        padding: 0;
        margin-top: 1rem;
    }
}

.partner-card .partner-img img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    padding: 1rem;
}

.partner-card .partner-text .partner-description {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media  screen and (max-width: 480px) {
    .partner-card .partner-text .partner-description{
        text-align: center;
        padding-inline: .5rem;
        padding-top: 0;
    }
    
}

/* section benefits */

.benefits {
    background-color: #9792E4;
}

.container-benefits {
    width: 70%;
    margin: auto;
    padding-bottom: 3rem;
}

.container-benefits .benefit-title {
    color: white;
    text-align: center;
    padding-top: 2rem;
}

.points {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
    justify-content: space-between;
}

.points .point {
    flex-basis: calc(100% / 3 - 1rem);
    border-radius: 20px;
    background-color: white;
    padding-top: 2rem;
    padding-inline: 1.5rem;
    line-height: 1.5rem;
}

.points .point > .fa-solid {
    color: #9792E4;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.points .point > h5 {
    color: #9792E4;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.points .point .fa-0 {
    padding-right: .5rem;
}

.points .point > p {
    padding-bottom: 2rem;
}

.btn-benefits {
    padding-bottom: 2rem;
}

.btn-benefits .btn-more {
    background-color: #9792E4;
    color: white;
    border-radius: 20px;
    padding-inline: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* section about-us */

.about-us {
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-right: 2rem;
    line-height: 2rem;
}

.about-us .about-text {
    flex-basis: 70%;
    padding-right: 2rem;
}

.about-us .about-text > h2 {
    color: #9792E4;
    padding-bottom: 2rem;
}

.about-us .about-text > p {
    padding-bottom: 2rem;
}

.about-us .about-profile {
    flex-basis: 30%;
}

.about-us .about-profile > p {
    color: #9792E4;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: left;
}

.about-us .about-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%; /*capire come fare il bordo*/
    object-fit: cover;
}

.about-us .about-profile .btn-linkedin {
    background-color: #9792E4;
    color: white;
    padding: .5rem;
    border-radius: 20px;
}

/* section try */

.try {
    background-color: #9792E4;
    padding-bottom: 2rem;
}

.container-try {
    width: 30%;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
}

.container-try .text-try {
    color: grey;
}

.container-try > h4 {
    color: white;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.container-try > h2 {
    color: #FDC15F;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.container-try > span {
    color: white;
    font-size: .9rem;
}

.container-try .started {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn-try {
    color: #9792E4;
    background-color: white;
    padding-inline: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
}

/* footer */

footer {
    background-color: #333333;
    color: white;
}

footer .footer-text {
    width: 30%;
    margin: auto;
    padding-top: 2rem;
}

.footer-text .second-paragraph {
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.footer-text .second-paragraph > a {
    color: #9792E4;
}